.nav {
    background-color: black;
    color: green;
    padding: 18px;
    display: flex;
    justify-content:right;
  }
  a {
    color: white;
    text-decoration: none;
    margin-right: 50px;
  }
  .title {
    width: 40%;
  }
  .menu {
    width: 30%;
  }