*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header{
    width: 100%;
    height: 100px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    align-items: center;
    padding: 15px;
    justify-content:space-between;
}
.Logo{
    
    height: 100%;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:baseline;
}
.menu{
    border-radius: 0 50% 0 50%;
    color: black;
    height: 70%;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.menu:hover{
    background-color: antiquewhite;
}
.card{
    width: 30%;
    height: 500px;
    border-radius: 25px;
    box-shadow: 2px 5px 5px red;
}


.kk{
    display: flex;
    height: 100%;
    align-items: center;
}
.heading{
    color: green;
    float: left;
    margin-left: -20%;
}

.container{
    width: 100%;
    height: 400px;
    background-image: url(https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YnVzaW5lc3MlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww&w=1000&q=80);
    background-size: cover;
    color: rgb(8, 12, 12);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.Read{
    height: 50px;
    width: 130px;
    border: none;
    border-radius: 50px;
    background-color: rgb(70,121,194);
    color: white;
    font-weight: bold;
}

.feature{
    margin: 25px;
}

.Features{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.sublogo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.subFeatures{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color: rgb(70,121,194);
}